%botones{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(100, 91, 9);
    margin-bottom: 20px;
    color: $primaryColor;
}
/*APLICADO EN BOTONES DE OBRAS Y PASO A PASO*/