.paginaPrincipal{
    width: 100%;
    height: 715px;
    margin-right: 0%;
    background-image: url("../imagen/imagen-tc-scaled-e1610632729734.jpg");
    background-position: center;
    background-size: 270vh;
    background-repeat: no-repeat;
    .fondo__transparente{
        top: 0;
        left: 0;
        width: 100%;
        height: 715px;
        background-color: rgba(15, 15, 15, 0.562);
        color: $primaryColor;
        .contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            h1{
                font-weight: bold;
                font-size: 80px;
            }
            h3{
                font-size: 22px;
            }
            .boton_he{
                padding-top: 30px;
                .boton_hero{
                    text-decoration: none;
                    font-size: 20px;
                    padding: 20px 30px;
                    border-radius: 20px;
                    background-color: rgb(32, 28, 19);
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        color: rgb(8, 8, 8);
                        background-color: #ffebcd;
                    }
                }
            }
        }
    }
}