$estilos: (
    colorPrimario: #e9e3e3,
    colorSecundario: #9b2929,
    paddingUno: 10px,
    paddingDos: 20px,
    paddingTres: 30px,
    borderRadiusUno: 5px,
    borderRadiusDos: 15px,
    displayFlex: flex,
    flexColumn: column,
    flexRow: row,
    justifyContent: center,
    )
    /*APLICADO EN FOOTER*/