@import 
"./partials/mixins",
"./partials/variables",
"./partials/maps",
"./partials/paso",
"./partials/card",
"./partials/principal",
"./partials/contacto",
"./partials/obras",
"./partials/footer",
"./partials/extends", 
"./partials/buttons",
"./partials/servicios";

/*  media es para cambiar los tamaños de las pantallas cuando usamos celular, tablet, note, etc */

@media (min-width:390px) and (max-width: 500px){
    body{
        margin: 0;
        width: 100%;
    }.navbar{
        flex-direction: row-reverse;
    }
    .navbar-light .navbar-toggler {
        color: rgba(231, 225, 225, 0.945);
        border-color: rgb(241, 233, 233);
        margin: 0;
    }
    header{
        width: 100%;
    }
    .paginaPrincipal{
        /* imagen del hero y dimensiones */ 
        height: 735px;
        width: 100%;
        margin-right: 0;
        background-image: url("../imagen/imagen-tc-scaled-e1610632729734.jpg");
        background-position: center;
        background-size: 270vh;
        background-repeat: no-repeat;
    }
    .fondo__transparente {
        /* Estilo de fondo transparente */
        top: 0;
        left: 0;
        height: 735px;
        background-color: rgba(15, 15, 15, 0.562);
        color: white;
    }

    /*SERVICIOS*/
.container h1{
    text-align: center;
}
.container h4{
    padding-left: 20px;
}
.container p{
    font-size: 0;
    text-align: center;
}
.contenedor__cards{
    display: grid;
    grid-template-columns: 370px ;
    grid-template-rows: 360px 360px;
}
.card{
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 30px;
}
.card img{
    width: 100%;
    height: 300px;
}
.contenedor__cards__abajo{
    display: grid;
    grid-template-columns: 370px ;
    grid-template-rows: 360px 360px;
}
.card:hover {
    color: rgb(253, 251, 251);
    background-color: rgba(7, 7, 7, 0.884);
    cursor: pointer;
    transform: scale(1.01);
    transition-duration: 1.4s;
}
/*OBRAS*/


.contenedo__cards{
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 400px 400px 400px;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.madero{
    margin-bottom: 20px;
    background-color: rgb(255, 210, 143);
    cursor: pointer;
    border-radius: 30px;
}
.madero h4{
    padding: 0;
    text-align: center;
}
.madero h5{
    padding: 0;
    text-align: center;
}
.madero p{
    font-size: 0;
    padding: 0;
    text-align: center;
}
/*CONTACTOS*/
.conteneCon{
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: 400px 400px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagen/Edificios.webp);
    background-position: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.nombre{
    margin: 10px;
}
.mail{
    margin: 10px;
}
.mensaje{
    margin: 10px;
}
.form__label{
    font-size: 20px;
}
.btn__submit{
    font-size: 20px;
}
/*PASOAPASO*/
.cards{
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 430px 430px 430px;    
    justify-content: space-between;
}
.imguno{
    background-color: antiquewhite;
    margin-top: 20px;
}
.imguno img{
    width: 100%;
    height: 300px;
    border-radius: 60px;
}
.imguno h4{
    padding: 0;
    text-align: center;
}
.imguno h5{
    padding: 0;
    text-align: center;
    font-size: 18px;
    color: rgb(51, 51, 51);
}
/*FOOTER*/
.footer{
    height: 300px;
    margin-top: 30px;
    background-color: #201f1e;
}
.conteiner h4{
    color: rgb(233, 230, 227);
    justify-content: center;
    display: flex;
    margin: 0 0 10px;
    font-size: 20px;
}
.conteiner p{
    color: #ebe6e6;
    justify-content: center;
    display: flex;
    margin: 0;
}
.redes{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 0 10px;
}
.redes a{
    color: white;
    padding: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}
}
